:root {
  --background-color: #4e4b5c;
  --foreground-color: #717680;
  --accent-color: #cc2936;
  --text-color: #ffffff;
  --text-color-secondary: #000000;
}

html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
