.container {
  width: calc(100vw - 10px);
  max-width: 600px;
  min-height: 80px;
  margin-bottom: 10px;
  padding: 0px 10px;
  background-color: var(--foreground-color);
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

p.hour {
  margin-left: 10px;
  font-size: 1.5em;
}

.classWrapper {
  min-height: 60px;
  margin: 10px 0 10px 20px;
  width: calc(100% - 10px);
  max-width: 100%;
}